# Godot 4+ specific ignores
.godot/
!game/addons/
game/addons/*
!game/addons/alleycat_editor/
!game/addons/alleycat_editor/**
game/content/
android/

# JetBrains IDE
.idea/

# .NET
bin/
obj/
*.DotSettings.user

# Python
__pycache__

# Godot-generated solution in game project
game/AlleyCat.sln

# AI agents
game/temp/*
!game/temp/.gdignore

# Misc.
*.blend1
